/src/internal/version/data/
go.work.sum

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Apple folder files
.DS_Store

# Local build folder
build/

# Vscode-related configs
.vscode
.direnv

# Toolchain
/cache
/out
.*
dist/build.log
digests.txt