name: go-build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2

      - name: Set up Go
        uses: actions/setup-go@b22fbbc2921299758641fab08929b4ac52b32923 # v3.2.0
        with:
          go-version: 1.19

      - name: Test
        env:
          GOHOSTOS: linux
          GOHOSTARCH: amd64
          GOOS: linux
          GOARCH: amd64
        run: |
          cd src
          go build -o ../out/turnkey.linux-x86_64 ./cmd/turnkey/
          go test -v ./cmd/turnkey/...
